    .audio-control {
        position: fixed;
        bottom: 5%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
        text-align: center;
        color: white;
    }
    
    body {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        line-height: 21px;
        color: #444;
        font-size: 13px;
        font-weight: 400;
        background-color: #000000;
        overflow: hidden;
    }
    
    .visualizer {
        height: 100px;
        width: 100vw;
        margin-top: -50px;
        display: block;
        position: fixed;
        bottom: 10%;
        left: 0;
        z-index: -1;
    }

    #modal-containers .inactive {
        display: none;
    }
